html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 20px;
}

:root {
    --text-color: #cbcbcb;
    --bg-color: #191B1CFF;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    margin-bottom: 20px;
}

#weather-info {
    margin-top: 20px;
}

#loading {
    font-size: 20px;
    color: red;
}